/* Styles spécifiques au formulaire de recherche */
.search-form {
    padding: 10px;
    border-radius: 20px;
    background-color: #f0f0f0;
  }
  
  .search-wrapper {
    position: relative;
  }
  
  #mySearch {
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding-left: 50px;
  }
  
  @media screen and (max-width: 768px) {
    #mySearch {
      width: 100%;
    }
  }
  
  .back-icon {
    position: absolute;
    color: black;
    font-size: 40px;
    font-weight: bold;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  